<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.smartcommunitylab.bikesharing.rovereto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="eu.trentorise.smartcampus.bikerovereto.SERVICE_URL"
            android:value="https://tn.smartcampuslab.it/bikesharing/" />
        <meta-data
            android:name="eu.trentorise.smartcampus.bikerovereto.CITY_CODE"
            android:value="rovereto" />
        <meta-data
            android:name="eu.trentorise.smartcampus.bikerovereto.BIKE_TYPES"
            android:value="e-motion" />

        <meta-data
            android:name="eu.trentorise.smartcampus.bikerovereto.FEEDBACK_MAIL"
            android:value="@string/feedback_mail" />
        
        <activity
            android:name=".activity.MainRoveretoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name="smartcampus.notifications.NotificationReceiver"
            android:enabled="true" >
        </receiver>
        <receiver
            android:name="smartcampus.notifications.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.About" >
        </activity>
        <activity android:name="smartcampus.activity.About" >
        </activity>
        <activity
            android:name="smartcampus.activity.DetailsActivity"
            android:label="@string/title_activity_details" >
        </activity>
        <activity
            android:name="smartcampus.activity.MailActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>